Repository CascadeBot/CascadeBot, pull requests merged in 2019-10, with the labels that each got.

#178 Better utils for getting numbers from args
  src/main/java/org/cascadebot/cascadebot/commandmeta/CommandContext.java
  src/main/java/org/cascadebot/cascadebot/commands/developer/GuildSaveSubCommand.java
Labels: beta feature, type: core functionality

#177 Add help command and remove fancy arg splitting
  pom.xml
  src/main/java/org/cascadebot/cascadebot/commandmeta/CommandContext.java
  src/main/java/org/cascadebot/cascadebot/commands/core/HelpCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/developer/GuildSaveSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/permission/GroupPermissionInfoSubCommand.java
  src/main/java/org/cascadebot/cascadebot/data/objects/GuildData.java
  src/main/java/org/cascadebot/cascadebot/data/objects/GuildSettingsCore.java
  src/main/java/org/cascadebot/cascadebot/events/CommandListener.java
  src/main/java/org/cascadebot/cascadebot/utils/PermissionCommandUtils.java
  src/main/java/org/cascadebot/cascadebot/utils/pagination/PageUtils.java
  src/main/resources/lang/en-GB.json
  src/test/java/org/cascadebot/cascadebot/events/CommandListenerTest.java
Labels: module: core, type: core functionality

#179 Add a util method to format the time properly
  src/main/java/org/cascadebot/cascadebot/utils/FormatUtils.java
Labels: beta feature, type: core functionality

#181 Purge command 🎉
  src/main/java/org/cascadebot/cascadebot/commands/fun/RandomNumberCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/moderation/PurgeAttachmentSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/moderation/PurgeBotSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/moderation/PurgeCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/moderation/PurgeContainSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/moderation/PurgeLinkSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/moderation/PurgeUserSubCommand.java
  src/main/java/org/cascadebot/cascadebot/data/objects/GuildData.java
  src/main/java/org/cascadebot/cascadebot/data/objects/GuildSettingsModeration.java
  src/main/java/org/cascadebot/cascadebot/utils/PurgeUtils.java
  src/main/resources/arguments.json
  src/main/resources/lang/en-GB.json
Labels: beta feature, module: moderation

#176 Music Seek Command
  src/main/java/org/cascadebot/cascadebot/commands/music/QueueSaveSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/music/SeekCommand.java
  src/main/java/org/cascadebot/cascadebot/utils/ParserUtils.java
  src/main/resources/arguments.json
  src/main/resources/lang/en-GB.json
Labels: beta feature, module: music

#187 [Hotfix] Userinfo command - Move message sending to correct place
  pom.xml
  src/main/java/org/cascadebot/cascadebot/commands/informational/UserInfoCommand.java
Labels: type: bug
