Repository CascadeBot/CascadeBot, pull requests merged in 2019-03, with the labels that each got.

#41 Guild settings
  src/main/java/com/cascadebot/cascadebot/commandmeta/CommandContext.java
  src/main/java/com/cascadebot/cascadebot/commands/core/PrefixCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/management/SettingsCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/subcommands/module/ModuleDisableSubCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/subcommands/module/ModuleEnableSubCommand.java
  src/main/java/com/cascadebot/cascadebot/data/objects/GuildData.java
  src/main/java/com/cascadebot/cascadebot/data/objects/GuildSettings.java
  src/main/java/com/cascadebot/cascadebot/events/CommandListener.java
  src/main/java/com/cascadebot/cascadebot/utils/ConfirmUtils.java
  src/main/java/com/cascadebot/cascadebot/utils/pagination/PageObjects.java
Labels: module: management, status: on hold, type: core functionality

#46 Feature/bancommand
  src/main/java/com/cascadebot/cascadebot/commands/moderation/BanCommand.java
Labels: module: moderation, status: on hold

#55 Allow arguments in quotes to be seen as one argument
  src/main/java/com/cascadebot/cascadebot/events/CommandListener.java
  src/test/java/com/cascadebot/cascadebot/events/CommandListenerTest.java
Labels: status: documentation needed, type: core functionality

#57 Moderation manager
  pom.xml
  src/main/java/com/cascadebot/cascadebot/CascadeBot.java
  src/main/java/com/cascadebot/cascadebot/commandmeta/CommandContext.java
  src/main/java/com/cascadebot/cascadebot/commands/informational/UserInfoCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/moderation/BanCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/moderation/KickCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/moderation/SoftBanCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/moderation/UnbanCommand.java
  src/main/java/com/cascadebot/cascadebot/data/objects/GuildData.java
  src/main/java/com/cascadebot/cascadebot/data/objects/GuildModeration.java
  src/main/java/com/cascadebot/cascadebot/messaging/MessagingObjects.java
  src/main/java/com/cascadebot/cascadebot/moderation/ModAction.java
  src/main/java/com/cascadebot/cascadebot/moderation/ModerationManager.java
  src/main/java/com/cascadebot/cascadebot/permissions/CascadePermission.java
  src/main/java/com/cascadebot/cascadebot/utils/DiscordUtils.java
  src/main/java/com/cascadebot/cascadebot/utils/buttons/ButtonGroup.java
Labels: module: moderation

#60 Add hi and goodbye
  config.example.yml
  src/main/java/com/cascadebot/cascadebot/data/Config.java
  src/main/java/com/cascadebot/cascadebot/events/GeneralEvents.java
Labels: type: core functionality

#67 Force banning users
  README.md
  src/main/java/com/cascadebot/cascadebot/commands/moderation/BanCommand.java
  src/main/java/com/cascadebot/cascadebot/moderation/ModAction.java
  src/main/java/com/cascadebot/cascadebot/moderation/ModerationManager.java
Labels: module: moderation

#59 Command/Feature flagging
  src/main/java/com/cascadebot/cascadebot/commandmeta/ICommandExecutable.java
  src/main/java/com/cascadebot/cascadebot/commands/developer/GuildCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/subcommands/guild/GuildFlagSubCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/subcommands/guild/GuildSaveSubCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/subcommands/module/ModuleDisableSubCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/subcommands/module/ModuleEnableSubCommand.java
  src/main/java/com/cascadebot/cascadebot/data/objects/Flag.java
  src/main/java/com/cascadebot/cascadebot/data/objects/GuildData.java
Labels: type: core functionality

#75 Move PlayerListener
  src/main/java/org/cascadebot/cascadebot/events/PlayerListener.java
  src/main/java/org/cascadebot/cascadebot/music/CascadePlayer.java
Labels: module: music

#74 Core/command context v2
  src/main/java/org/cascadebot/cascadebot/commandmeta/CommandContext.java
  src/main/java/org/cascadebot/cascadebot/commands/core/InviteCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/core/PrefixCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/core/SupportCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/developer/DumpCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/developer/EvalCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/developer/GuildCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/developer/ShutdownCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/fun/CatCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/fun/DogCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/informational/RolesCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/informational/ServerInfoCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/informational/UserInfoCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/ModuleCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/SettingsCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/moderation/BanCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/moderation/KickCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/moderation/SoftBanCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/moderation/UnbanCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/subcommands/guild/GuildFlagSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/subcommands/guild/GuildSaveSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/subcommands/module/ModuleDisableSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/subcommands/module/ModuleEnableSubCommand.java
  src/main/java/org/cascadebot/cascadebot/events/CommandListener.java
  src/main/java/org/cascadebot/cascadebot/messaging/MessagingDirectMessage.java
  src/main/java/org/cascadebot/cascadebot/messaging/MessagingTimed.java
  src/main/java/org/cascadebot/cascadebot/messaging/MessagingTyped.java
  src/main/java/org/cascadebot/cascadebot/messaging/MessagingUI.java
  src/main/java/org/cascadebot/cascadebot/moderation/ModerationManager.java
  src/main/java/org/cascadebot/cascadebot/permissions/CascadePermission.java
Labels: status: documentation needed, type: breaking change, type: core functionality

#78 Join and leave commands
  pom.xml
  src/main/java/org/cascadebot/cascadebot/CascadeBot.java
  src/main/java/org/cascadebot/cascadebot/commands/core/PrefixCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/music/JoinCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/music/LeaveCommand.java
  src/main/java/org/cascadebot/cascadebot/events/CommandListener.java
  src/main/java/org/cascadebot/cascadebot/messaging/MessagingUI.java
  src/main/java/org/cascadebot/cascadebot/music/CascadePlayer.java
  src/main/java/org/cascadebot/cascadebot/permissions/PermissionsManager.java
Labels: module: music
