Repository CascadeBot/CascadeBot, pull requests merged in 2019-02, with the labels that each got.

#20 Add sentry to the bot for reporting errors
  pom.xml
  src/main/java/com/cascadebot/cascadebot/CascadeBot.java
  src/main/java/com/cascadebot/cascadebot/data/Config.java
  src/main/java/com/cascadebot/cascadebot/events/ButtonEventListener.java
  src/main/resources/logback.xml
  src/main/resources/sentry.properties
Labels: new feature

#26 Add module functionality
  src/main/java/com/cascadebot/cascadebot/commandmeta/CommandManager.java
  src/main/java/com/cascadebot/cascadebot/commandmeta/CommandType.java
  src/main/java/com/cascadebot/cascadebot/commandmeta/ICommandCore.java
  src/main/java/com/cascadebot/cascadebot/commandmeta/ICommandExecutable.java
  src/main/java/com/cascadebot/cascadebot/commandmeta/ICommandMain.java
  src/main/java/com/cascadebot/cascadebot/commandmeta/ICommandRestricted.java
  src/main/java/com/cascadebot/cascadebot/commandmeta/Module.java
  src/main/java/com/cascadebot/cascadebot/commands/developer/DumpCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/developer/EvalCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/developer/RestartCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/developer/ShutdownCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/developer/TestCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/fun/CatCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/fun/DogCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/informational/RolesCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/informational/ServerInfoCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/informational/UserInfoCommand.java
  src/main/java/com/cascadebot/cascadebot/data/objects/GuildData.java
  src/main/java/com/cascadebot/cascadebot/events/CommandListener.java
  src/main/java/com/cascadebot/cascadebot/permissions/CascadePermission.java
  src/main/java/com/cascadebot/cascadebot/permissions/Permission.java
  src/main/java/com/cascadebot/cascadebot/permissions/PermissionsManager.java
  src/main/java/com/cascadebot/cascadebot/permissions/objects/Group.java
  src/main/java/com/cascadebot/cascadebot/permissions/objects/User.java
Labels: new feature

#43 Core/usage
  src/main/java/com/cascadebot/cascadebot/commandmeta/Argument.java
  src/main/java/com/cascadebot/cascadebot/commandmeta/ArgumentType.java
  src/main/java/com/cascadebot/cascadebot/commandmeta/CommandContext.java
  src/main/java/com/cascadebot/cascadebot/commandmeta/ICommandExecutable.java
  src/main/java/com/cascadebot/cascadebot/commands/core/InviteCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/core/PrefixCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/core/SupportCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/developer/DumpCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/developer/EvalCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/developer/GuildCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/developer/RestartCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/developer/ShutdownCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/developer/TestCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/fun/CatCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/fun/DogCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/informational/RolesCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/informational/ServerInfoCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/informational/UserInfoCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/management/ModuleCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/moderation/KickCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/moderation/SoftBanCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/subcommands/guild/GuildSaveSubCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/subcommands/module/ModuleDisableSubCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/subcommands/module/ModuleEnableSubCommand.java
  src/main/java/com/cascadebot/cascadebot/commands/subcommands/module/ModuleListSubCommand.java
Labels: type: core functionality

#42 Unban Command
  src/main/java/com/cascadebot/cascadebot/commands/moderation/UnbanCommand.java
Labels: module: moderation
