Repository CascadeBot/CascadeBot, pull requests merged in 2019-05, with the labels that each got.

#100 JSON Logging
  pom.xml
  src/main/java/org/cascadebot/cascadebot/CascadeBot.java
  src/main/java/org/cascadebot/cascadebot/MDCException.java
  src/main/java/org/cascadebot/cascadebot/events/CommandListener.java
  src/main/java/org/cascadebot/cascadebot/messaging/Messaging.java
  src/main/java/org/cascadebot/cascadebot/messaging/MessagingTyped.java
  src/main/java/org/cascadebot/cascadebot/messaging/MessagingUI.java
Labels: type: core functionality

#97 Queue Command
  src/main/java/org/cascadebot/cascadebot/commands/music/QueueCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/music/SkipCommand.java
  src/main/java/org/cascadebot/cascadebot/events/PlayerListener.java
  src/main/java/org/cascadebot/cascadebot/music/CascadePlayer.java
Labels: module: music, status: waiting on meeting

#104 Feature/playlist handling. Also final music pr 🎉🎉🎉🎉
  src/main/java/org/cascadebot/cascadebot/UnicodeConstants.java
  src/main/java/org/cascadebot/cascadebot/commands/music/QueueCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/subcommands/queue/QueueLoadSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/subcommands/queue/QueueSaveSubCommand.java
  src/main/java/org/cascadebot/cascadebot/music/CascadePlayer.java
  src/main/java/org/cascadebot/cascadebot/permissions/PermissionsManager.java
Labels: module: music

#103 Feature/tags
  .gitignore
  src/main/java/org/cascadebot/cascadebot/commandmeta/CommandContext.java
  src/main/java/org/cascadebot/cascadebot/commands/informational/ServerInfoCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/TagCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/subcommands/tag/TagCategorySubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/subcommands/tag/TagCreateSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/subcommands/tag/TagDeleteSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/subcommands/tag/TagEditSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/subcommands/tag/TagListSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/subcommands/tag/TagPlaceholdersSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/subcommands/tag/TagRawSubCommand.java
  src/main/java/org/cascadebot/cascadebot/data/objects/GuildData.java
  src/main/java/org/cascadebot/cascadebot/data/objects/GuildSettings.java
  src/main/java/org/cascadebot/cascadebot/data/objects/Placeholder.java
  src/main/java/org/cascadebot/cascadebot/data/objects/Tag.java
  src/main/java/org/cascadebot/cascadebot/events/CommandListener.java
  src/main/java/org/cascadebot/cascadebot/utils/pagination/PageObjects.java
Labels: module: management

#108 Roles Revamp! :tada:
  src/main/java/org/cascadebot/cascadebot/commands/informational/RolesCommand.java
Labels: module: informational
