Repository CascadeBot/CascadeBot, pull requests merged in 2019-04, with the labels that each got.

#84 Loop command
  src/main/java/org/cascadebot/cascadebot/commands/music/LoopCommand.java
Labels: module: music

#85 Shuffle Command
  src/main/java/org/cascadebot/cascadebot/commands/music/ShuffleCommand.java
Labels: module: music

#87 Play Command
  src/main/java/org/cascadebot/cascadebot/CascadeBot.java
  src/main/java/org/cascadebot/cascadebot/UnicodeConstants.java
  src/main/java/org/cascadebot/cascadebot/commandmeta/CommandContext.java
  src/main/java/org/cascadebot/cascadebot/commandmeta/CommandManager.java
  src/main/java/org/cascadebot/cascadebot/commands/music/PlayCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/music/SearchCommand.java
  src/main/java/org/cascadebot/cascadebot/events/PlayerListener.java
  src/main/java/org/cascadebot/cascadebot/exceptions/DiscordPermissionException.java
  src/main/java/org/cascadebot/cascadebot/messaging/Messaging.java
  src/main/java/org/cascadebot/cascadebot/messaging/MessagingObjects.java
  src/main/java/org/cascadebot/cascadebot/messaging/MessagingTyped.java
  src/main/java/org/cascadebot/cascadebot/messaging/MessagingUI.java
  src/main/java/org/cascadebot/cascadebot/music/CascadePlayer.java
  src/main/java/org/cascadebot/cascadebot/music/MusicHandler.java
  src/main/java/org/cascadebot/cascadebot/utils/EventWaiter.java
  src/main/java/org/cascadebot/cascadebot/utils/StringsUtil.java
Labels: module: music

#90 Feature/song buttons
  config.example.yml
  src/main/java/org/cascadebot/cascadebot/UnicodeConstants.java
  src/main/java/org/cascadebot/cascadebot/commands/fun/CatCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/fun/DogCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/music/PlayingCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/music/SearchCommand.java
  src/main/java/org/cascadebot/cascadebot/messaging/Messaging.java
  src/main/java/org/cascadebot/cascadebot/messaging/MessagingUI.java
  src/main/java/org/cascadebot/cascadebot/utils/ConfirmUtils.java
  src/main/java/org/cascadebot/cascadebot/utils/buttons/ButtonGroup.java
Labels: module: music

#91 Permissions!
  pom.xml
  src/main/java/org/cascadebot/cascadebot/ConsoleReader.java
  src/main/java/org/cascadebot/cascadebot/commandmeta/CommandContext.java
  src/main/java/org/cascadebot/cascadebot/commands/developer/DumpCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/developer/EvalCommand.java
  src/main/java/org/cascadebot/cascadebot/data/objects/GuildData.java
  src/main/java/org/cascadebot/cascadebot/data/objects/GuildPermissions.java
  src/main/java/org/cascadebot/cascadebot/data/objects/GuildSettings.java
  src/main/java/org/cascadebot/cascadebot/events/GeneralEvents.java
  src/main/java/org/cascadebot/cascadebot/messaging/MessagingUI.java
  src/main/java/org/cascadebot/cascadebot/permissions/CascadePermission.java
  src/main/java/org/cascadebot/cascadebot/permissions/PermissionsManager.java
  src/main/java/org/cascadebot/cascadebot/permissions/Security.java
  src/main/java/org/cascadebot/cascadebot/permissions/objects/Group.java
  src/main/java/org/cascadebot/cascadebot/permissions/objects/PermissionAction.java
  src/main/java/org/cascadebot/cascadebot/permissions/objects/PermissionHolder.java
  src/main/java/org/cascadebot/cascadebot/permissions/objects/Result.java
  src/main/java/org/cascadebot/cascadebot/permissions/objects/User.java
Labels: type: core functionality

#92 Feature/skip command
  pom.xml
  src/main/java/org/cascadebot/cascadebot/CascadeBot.java
  src/main/java/org/cascadebot/cascadebot/ConsoleReader.java
  src/main/java/org/cascadebot/cascadebot/commandmeta/CommandContext.java
  src/main/java/org/cascadebot/cascadebot/commandmeta/CommandManager.java
  src/main/java/org/cascadebot/cascadebot/commands/core/UsageCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/developer/DumpCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/developer/EvalCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/fun/CatCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/fun/DogCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/music/LoopCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/music/PlayCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/music/PlayingCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/music/SearchCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/music/SkipCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/subcommands/module/ModuleDisableSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/subcommands/module/ModuleEnableSubCommand.java
  src/main/java/org/cascadebot/cascadebot/data/objects/GuildData.java
  src/main/java/org/cascadebot/cascadebot/data/objects/GuildModeration.java
  src/main/java/org/cascadebot/cascadebot/data/objects/GuildPermissions.java
  src/main/java/org/cascadebot/cascadebot/data/objects/GuildSettings.java
  src/main/java/org/cascadebot/cascadebot/data/objects/PlaylistType.java
  src/main/java/org/cascadebot/cascadebot/events/GeneralEventListener.java
  src/main/java/org/cascadebot/cascadebot/events/VoiceEventListener.java
  src/main/java/org/cascadebot/cascadebot/messaging/Messaging.java
  src/main/java/org/cascadebot/cascadebot/messaging/MessagingTyped.java
  src/main/java/org/cascadebot/cascadebot/messaging/MessagingUI.java
  src/main/java/org/cascadebot/cascadebot/music/CascadePlayer.java
  src/main/java/org/cascadebot/cascadebot/permissions/CascadePermission.java
  src/main/java/org/cascadebot/cascadebot/permissions/PermissionsManager.java
  src/main/java/org/cascadebot/cascadebot/permissions/Security.java
  src/main/java/org/cascadebot/cascadebot/permissions/objects/Group.java
  src/main/java/org/cascadebot/cascadebot/permissions/objects/PermissionAction.java
  src/main/java/org/cascadebot/cascadebot/permissions/objects/PermissionHolder.java
  src/main/java/org/cascadebot/cascadebot/permissions/objects/Result.java
  src/main/java/org/cascadebot/cascadebot/permissions/objects/User.java
  src/main/java/org/cascadebot/cascadebot/utils/DiscordUtils.java
  src/main/java/org/cascadebot/cascadebot/utils/FormatUtils.java
  src/main/java/org/cascadebot/cascadebot/utils/StringsUtil.java
  src/main/java/org/cascadebot/cascadebot/utils/Table.java
  src/main/java/org/cascadebot/cascadebot/utils/WebUtils.java
  src/main/java/org/cascadebot/cascadebot/utils/buttons/Button.java
  src/main/java/org/cascadebot/cascadebot/utils/buttons/ButtonGroup.java
  src/main/java/org/cascadebot/cascadebot/utils/pagination/PageUtils.java
  src/main/java/org/cascadebot/cascadebot/utils/votes/VoteButtonGroup.java
  src/main/java/org/cascadebot/cascadebot/utils/votes/VoteButtonGroupBuilder.java
  src/main/java/org/cascadebot/cascadebot/utils/votes/VoteMessageType.java
  src/main/java/org/cascadebot/cascadebot/utils/votes/VoteResult.java
  src/main/resources/sentry.properties
  src/test/java/org/cascadebot/cascadebot/ConstantsTest.java
Labels: module: music, status: documentation needed
