Repository CascadeBot/CascadeBot, pull requests merged in 2020-08, with the labels that each got.

#237 📜 Rolling logs and /log folder
  .gitignore
  src/main/resources/logback.xml
Labels: type: core functionality, type: feature proposal

#234 📄 Page Command
  src/main/java/org/cascadebot/cascadebot/utils/pagination/PageCache.java
  src/main/kotlin/org/cascadebot/cascadebot/commands/core/PageCommand.kt
  src/main/kotlin/org/cascadebot/cascadebot/events/GuildEvents.kt
  src/main/kotlin/org/cascadebot/cascadebot/messaging/Messaging.kt
  src/main/resources/arguments.json
  src/main/resources/lang/en-GB.json
  src/test/kotlin/org/cascadebot/cascadebot/utils/WeightedListTest.kt
Labels: module: core

#232 🚦 Command filters!
  src/main/java/org/cascadebot/cascadebot/data/language/Locale.java
  src/main/java/org/cascadebot/cascadebot/events/CommandListener.java
  src/main/java/org/cascadebot/cascadebot/permissions/PermissionsManager.java
  src/main/java/org/cascadebot/cascadebot/utils/language/LanguageUtils.java
  src/main/kotlin/org/cascadebot/cascadebot/commands/management/filters/FiltersChannelsSubCommand.kt
  src/main/kotlin/org/cascadebot/cascadebot/commands/management/filters/FiltersCommand.kt
  src/main/kotlin/org/cascadebot/cascadebot/commands/management/filters/FiltersCommandsSubCommand.kt
  src/main/kotlin/org/cascadebot/cascadebot/commands/management/filters/FiltersCreateSubCommand.kt
  src/main/kotlin/org/cascadebot/cascadebot/commands/management/filters/FiltersDeleteSubCommand.kt
  src/main/kotlin/org/cascadebot/cascadebot/commands/management/filters/FiltersDisableSubCommand.kt
  src/main/kotlin/org/cascadebot/cascadebot/commands/management/filters/FiltersEnableSubCommand.kt
  src/main/kotlin/org/cascadebot/cascadebot/commands/management/filters/FiltersListSubCommand.kt
  src/main/kotlin/org/cascadebot/cascadebot/commands/management/filters/FiltersOperatorSubCommand.kt
  src/main/kotlin/org/cascadebot/cascadebot/commands/management/filters/FiltersRolesSubCommand.kt
  src/main/kotlin/org/cascadebot/cascadebot/commands/management/filters/FiltersTypeSubCommand.kt
  src/main/kotlin/org/cascadebot/cascadebot/commands/management/filters/FiltersUsersSubCommand.kt
  src/main/kotlin/org/cascadebot/cascadebot/data/objects/CommandFilter.kt
  src/main/kotlin/org/cascadebot/cascadebot/data/objects/GuildSettingsManagement.kt
  src/main/kotlin/org/cascadebot/cascadebot/utils/Extensions.kt
  src/main/resources/arguments.json
  src/main/resources/lang/en-GB.json
Labels: beta feature, module: management, status: pr in progress

#236 ⏱ Temporary Moderation commands + Mute
  pom.xml
  src/main/java/org/cascadebot/cascadebot/data/objects/GuildSettingsModeration.java
  src/main/java/org/cascadebot/cascadebot/moderation/ModAction.java
  src/main/java/org/cascadebot/cascadebot/moderation/ModerationManager.java
  src/main/java/org/cascadebot/cascadebot/utils/PurgeUtils.java
  src/main/kotlin/org/cascadebot/cascadebot/commands/moderation/MuteChannelSetupSubCommand.kt
  src/main/kotlin/org/cascadebot/cascadebot/commands/moderation/MuteCommand.kt
  src/main/kotlin/org/cascadebot/cascadebot/commands/moderation/MuteRoleSubCommand.kt
  src/main/kotlin/org/cascadebot/cascadebot/commands/moderation/TempBan.kt
  src/main/kotlin/org/cascadebot/cascadebot/commands/moderation/TempMute.kt
  src/main/kotlin/org/cascadebot/cascadebot/commands/moderation/UnMuteCommand.kt
  src/main/kotlin/org/cascadebot/cascadebot/data/managers/ScheduledActionManager.kt
  src/main/kotlin/org/cascadebot/cascadebot/data/objects/GuildData.kt
  src/main/kotlin/org/cascadebot/cascadebot/data/objects/GuildSettingsModeration.kt
  src/main/kotlin/org/cascadebot/cascadebot/scheduler/ActionType.kt
  src/main/kotlin/org/cascadebot/cascadebot/utils/Extensions.kt
  src/main/resources/arguments.json
  src/main/resources/lang/en-GB.json
Labels: beta feature, module: moderation

#239 🦥 Slowmode Command
  src/main/kotlin/org/cascadebot/cascadebot/commands/moderation/SlowmodeCommand.kt
  src/main/kotlin/org/cascadebot/cascadebot/commands/moderation/SlowmodeResetSubCommand.kt
  src/main/kotlin/org/cascadebot/cascadebot/commands/moderation/TempSlowmodeCommand.kt
  src/main/kotlin/org/cascadebot/cascadebot/scheduler/ActionType.kt
  src/main/kotlin/org/cascadebot/cascadebot/scheduler/ScheduledAction.kt
  src/main/resources/arguments.json
  src/main/resources/lang/en-GB.json
Labels: beta feature, module: moderation

#231 Vote to skip feature
  src/main/java/org/cascadebot/cascadebot/commands/music/SkipCommand.java
  src/main/java/org/cascadebot/cascadebot/utils/votes/VoteButtonGroup.java
  src/main/java/org/cascadebot/cascadebot/utils/votes/VoteButtonGroupBuilder.java
Labels: module: music
