Repository CascadeBot/CascadeBot, pull requests merged in 2020-05, with the labels that each got.

#215 Scheduled Actions
  src/main/java/org/cascadebot/cascadebot/CascadeBot.java
  src/main/java/org/cascadebot/cascadebot/data/database/DatabaseManager.java
  src/main/kotlin/org/cascadebot/cascadebot/data/managers/ScheduledActionManager.kt
  src/main/kotlin/org/cascadebot/cascadebot/scheduler/ActionType.kt
  src/main/kotlin/org/cascadebot/cascadebot/scheduler/ScheduledAction.kt
Labels: type: core functionality

#209 Per guild permissions
  src/main/java/org/cascadebot/cascadebot/commands/developer/DumpCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/TagCreateSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/permission/GroupPermissionAddSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/permission/GroupPermissionRemoveSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/permission/UserPermissionAddSubCommand.java
  src/main/java/org/cascadebot/cascadebot/data/objects/PerGuildPermissionsManager.java
  src/main/java/org/cascadebot/cascadebot/data/objects/PermissionObject.java
  src/main/java/org/cascadebot/cascadebot/data/objects/Tag.java
  src/main/java/org/cascadebot/cascadebot/permissions/PermissionsManager.java
  src/main/kotlin/org/cascadebot/cascadebot/data/objects/GuildData.kt
  src/main/kotlin/org/cascadebot/cascadebot/data/objects/GuildSettingsCore.kt
Labels: module: core

#216 DB Structure Improvements
  src/main/java/org/cascadebot/cascadebot/commandmeta/CommandManager.java
  src/main/java/org/cascadebot/cascadebot/commands/developer/GuildInfoSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/ModuleDisableSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/TagCategorySubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/TagCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/TagCreateSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/TagDeleteSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/TagEditSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/TagListSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/TagRawSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/permission/GroupPermissionCreateSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/permission/GroupPermissionDeleteSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/permission/GroupPermissionListSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/permission/GroupPermissionMoveSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/permission/GroupPermissionSwitchSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/permission/UserPermissionAddSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/permission/UserPermissionGroupSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/permission/UserPermissionListSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/permission/UserPermissionRemoveSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/permission/UserPermissionTestSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/music/EqualizerCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/music/PlayingCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/music/VolumeCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/useful/TodoAddSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/useful/TodoAddUserSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/useful/TodoCreateSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/useful/TodoRemoveSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/useful/TodoRemoveUserSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/useful/TodoSendSubCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/useful/TodoViewSubCommand.java
  src/main/java/org/cascadebot/cascadebot/data/objects/PerGuildPermissionsManager.java
  src/main/java/org/cascadebot/cascadebot/events/CommandListener.java
  src/main/java/org/cascadebot/cascadebot/events/GeneralEventListener.java
  src/main/java/org/cascadebot/cascadebot/permissions/PermissionsManager.java
  src/main/java/org/cascadebot/cascadebot/utils/ConfirmUtils.java
  src/main/java/org/cascadebot/cascadebot/utils/PermissionCommandUtils.java
  src/main/java/org/cascadebot/cascadebot/utils/PurgeUtils.java
  src/main/java/org/cascadebot/cascadebot/utils/pagination/PageObjects.java
  src/main/kotlin/org/cascadebot/cascadebot/commandmeta/CommandContext.kt
  src/main/kotlin/org/cascadebot/cascadebot/data/language/Language.kt
  src/main/kotlin/org/cascadebot/cascadebot/data/objects/GuildData.kt
  src/main/kotlin/org/cascadebot/cascadebot/data/objects/GuildSettingsCore.kt
  src/main/kotlin/org/cascadebot/cascadebot/data/objects/GuildSettingsManagement.kt
  src/main/kotlin/org/cascadebot/cascadebot/utils/buttons/PersistentButton.kt
Labels: module: core, module: management, module: moderation, module: music, status: waiting on pr, type: breaking change, type: core functionality

#218 Paged usage
  src/main/java/org/cascadebot/cascadebot/commandmeta/ICommandExecutable.java
  src/main/java/org/cascadebot/cascadebot/commands/core/UsageCommand.java
  src/main/java/org/cascadebot/cascadebot/commands/management/permission/GroupPermissionCommand.java
  src/main/java/org/cascadebot/cascadebot/messaging/MessagingUI.java
  src/main/java/org/cascadebot/cascadebot/utils/pagination/PageCache.java
  src/main/java/org/cascadebot/cascadebot/utils/pagination/PageObjects.java
  src/main/kotlin/org/cascadebot/cascadebot/commandmeta/CommandContext.kt
  src/main/kotlin/org/cascadebot/cascadebot/messaging/Messaging.kt
Labels: module: core
